<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand">DesignBlog</a>
        <!-- icon navbar -->
        <button class="navbar-toggler" data-target="#collapase" data-toggle="collapse" aria-controls="collapase" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div id="collapase" class="collapse navbar-collapse d-flex justify-content-center">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Inicio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Portafolio</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Contacto</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="menuid">
                     dropdown toggle
                 </a>
                    <div class="dropdown-menu" aria-labelledby="menuid">
                        <a href="#" class="dropdown-item">item</a>
                        <a href="#" class="dropdown-item">item</a>
                        <a href="#" class="dropdown-item">item</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid text-center">
    <div class="row">
        <img class="img-preserve img-thmbnail col-md-8" src="assets/imgs/person.svg" alt="">
    </div>
</div>