<div class="contenedor">
<div class="primero">
     <h1 class="cumple texto"></h1>   
     <br> 
     <h1 class="pollito texto"></h1>
  <div class="cont2">
     <div class="pastel">
          <i class="fas fa-birthday-cake"></i>
     </div>
    <div class="img_poll invertir-color">
          <img src="assets/imgs/pollito.png" alt="">
    </div>
  </div>

</div>
<div class="segundo">
     <h1 class="vales"> </h1>
     <div class="corazon">
          <i class="far fa-heart"></i>
     </div>
</div>
</div>
