
<div class="general">

  <a class="nextaPage" >
    <i class="fas fa-arrow-right"></i>
</a>   
<div class="main-content-wrapper"  [hidden]="loading">
    <section class="pageone">
    
        <!-- figuras -->
        <div class="figura1">
        </div>
        <div class="figura2">
        <div class="social">
             <h1>redes sociales : </h1>
             <div class="icons">
                 <a href=""><i class="fab fa-twitter"></i></a>
                 <a href=""><i class="fab fa-facebook"></i></a>
                 <a href=""><i class="fab fa-instagram-square"></i></a>
             </div>
        </div>
        </div> 
        <!-- figuras end --> 
         <header> 
          <div class="container">
                <div class="row">
                     <div class="col-md-12">
                          <ul class="menu">
                            <li>
                              <a>
                                Inicio
                              </a>
                            </li>
                            <li>
                                <a>nosotros</a>
                            </li>
                            <li>
                                <a>servicios</a>
                            </li>
                            <li>
                                <a >trabajos</a>
                            </li>
                            <li>
                                <a >contacto</a>
                            </li>
                          </ul>
                     </div>
                </div>
          </div>
         </header>
           <!-- primera seccion  -->
           <section class="section1" >
            <div class="content">              
                     <div class="stacked-cards" style="width: 800px; height: 200px;">
                        <ul>
                            <li>
                                <div class="foto">
                                 <img src="assets/imgs/reinhart-julian-WxM465oM4j4-unsplash.jpg"alt=""> 
                                 <div class="texto">
                                   <div class="textcont">
                                     <h1>fotografia</h1>
                                     <p>Servicio de fotografia 
                                        sobre publicidad
                                     </p>
                                     <a href="" class="btn btn_targeta">
                                         ver más
                                     </a>
                                   </div>
                                 </div>
                             </div>
                             </li>  
                            <li>
                                <div class="foto">
                                 <img src="assets/imgs/reinhart-julian-WxM465oM4j4-unsplash.jpg"alt=""> 
                                 <div class="texto">
                                   <div class="textcont">
                                     <h1>Publicidad</h1>
                                     <p>
                                         ofrecemos tecnicas de marketing
                                         para cualquier negocio
                                     </p>
                                     <a href="" class="btn btn_targeta">
                                        ver más
                                    </a>
                                   </div>
                                 </div>
                             </div>
                             </li>
                    
                            <li>
                                <div class="foto">
                                 <img src="assets/imgs/reinhart-julian-WxM465oM4j4-unsplash.jpg"alt=""> 
                                 <div class="texto">
                                   <div class="textcont">
                                     <h1>programación</h1>
                                     <p>
                                         Creacion de paginas webs  
                                         para cualquier negocio
                                     </p>
                                     <a href="" class="btn btn_targeta">
                                        ver más
                                    </a>
                                   </div>
                                 </div>
                             </div>
                             </li>
                        </ul>
                    </div>
               </div>
               <div class="cont_texto anima">
                <div class="palito">
                    <div class="principal">
                      <img src="assets/imgs/devweb.png" alt="">
                    </div>
                    <div class="extracto">
                     <p>
                       Empresa de emprendimiento, dedicada a
                       dar un apoyo tecnologico a aquellas empresas 
                       que lo necesitan
                     </p>
                </div>
               </div> 
               </div>
            </section>
           <!--  end primera seccion  -->
         
    </section>
    <section class="pagedos caja">
       <h1>Nosostros</h1>
    </section>
    <section class="page_tres caja">
       <h1>servicios</h1>
    </section>
    <section class="page_cuatro caja">
       <h1>trabajos</h1>
    </section>
    <section class="page_cinco caja">
       <h1>contacto</h1>
    </section>
</div>
</div>