$another  : 'Another Round' ;
$roboto : 'Roboto', sans-serif;
$sans :  'Open Sans', sans-serif;
.cargar{
    position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
    width: 100vw;
    // z-index: 100;
}
.load{
   width: 100%;
    height: 100vh;
   background-color: white;
 font-family: $roboto;
 font-size: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
//   overflow-y: hidden;
  align-items: center;
}
.esconderload{
    display: none;
}
